.git
.gitignore
.github

frontend/node_modules
frontend/.env
frontend/.env.*
backend/.env
backend/.env.*

.pytest_cache
backend/tests

**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.DS_Store

.venv
venv

*.log
*.tmp
*.md
